body{
    background: #C4D3C1;
}
.navbar{
    position: fixed;
    height: 7%;
    font-size: 30px;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #1C680F;
    color: white;
}
.logo{
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-family: sans-serif;
    margin-left: 10px;
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}
.img{
    padding-top: 5px;
}
.login-header{
    margin-left: 20%;
}
.container{
    width: 45%;
    background-image: url("/home/greean/AndelaProjects/StackOverflow-lite/img/bg.jpg");
    border-radius: 5px;
    margin-left: 28%;
    margin-top: 6%;
    margin-bottom: 5%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.form-label{
    display: inline-block;
    padding: 5px 2px;
    margin-left: 5%;
    margin-top: 5px;
    margin-bottom: 4px;
    font-family: sans-serif;
    font-size: small;
    font-weight: bold;
    color: #fff;
}
.form-input{
    display: inline-block;
    padding: 5px 2px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 4px;
    border-radius: 5px;
    width: 90%;
    height: 20px;
    border: none;
}
.btn{
    display: inline-block;
    padding: 9px 12px;
    padding-top: 7px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #5e5e5e;
    text-align: center;
    vertical-align: middle;
    border: none;
    text-shadow: none;
    box-shadow: none;
    font: sans-serif;
    -webkit-border-radius: 3px;
    width: 90%;
    }
.btn-margins{
    margin-right: 5%;
    margin-bottom: 7px;
}
.btn-primary{
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd
}
.url-link{
    text-decoration: none;
}
.log-footer{
    text-align: center;
    font-size: small;
    margin-left: 5%;
    color: #fff;
}
.log-link{
    color: #0237BB;
}
.footer{
    position: fixed;
    height: 30px;
    left: 0;
    bottom: 0;
    padding-bottom: 5px;
    width: 100%;
    background-color: #1C680F;
    color: white;
    text-align: center;
}